@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../src/variable.scss";

/*  Générique  */
body{
    background-color: $black;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
a,p,h1,h2,h3{
    color: $white;
}
header{
    margin-bottom: 3rem;
}

[class].header-navbar{
    padding:10px 15px;

    background-color: $white;
}
.bloc-text{
    color: $primary;
    margin-bottom: 5rem;
}

.home-text{
    padding: 3rem;
    background-color: $white;
    margin-bottom: 5rem;
    border-radius: 8px;
}
.home-slogan{
    text-align: center;
    padding: 2*$spacer;
}
.home-text__title{
    text-align: center;
    padding-bottom: 1rem;
}
.home-text__title ,.home-text__paragraph{
    color: $black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marque-page {
    display: block;
    padding: 10px 0 3px 0;
    font-size: 1.2rem;
}

.c-bloc-stories{
    background-color: $secondary;
    text-align: center;
    padding: 3rem;

    h2{
        padding-bottom: 2rem;
    }
}
.c-story{
    width: 400px;

    display: block;
    margin: auto;
    padding: 0;

    background-color: $white;
    border-radius: 20px;

    &:hover{
        transform: scale(1.05);
        box-shadow: 5px 5px 20px $black;
    }
}

.c-bloc-stories__title{
    font-family: EB Garamond;
    font-size: 3.5rem;
}
.c-strory__title{
    color: $black;
    padding-top: 10px ;
    font-family: 'Creepster', cursive;
}
.c-story__img{
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.o-action{
    text-decoration: inherit;
    font-weight: bold;
    color: $secondary;
    font-size: $spacer*1.125;
    &:hover{
        text-decoration: underline;
        color: $secondary;
    }
}


@media (max-width: 575.98px){
    .c-story{
        width: 100%;
    }
}
